<!DOCTYPE html>
<html>
    <head>
        <title>User Login</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="static/css/signin.css">
        <!--<link rel="stylesheet" type="text/css" href="../assets/css/signin.css">-->
    </head>
    <body>
        <div id="head">
            <p>Why CloudGo-io?</p>
        </div>
        <div id="main">
            <div id="introduction">
                <p id="app">CloudGo-io</p>
                <p>CloudGo-io is a development platform inspired by the way you work. From open source to business, you can host and review code, manage projects, and build software alongside 40 million developers.</p>    
            </div>
            <form action="/userInfo" method="post">
                <p class="title">Username</p>
                <input type="text" name="username"></p>
                <p class="title">Email</p>
                <input type="text" name="email">
                <p class="title">Password</p>
                <input type="password" name="password">
                <button type="submit">Sign in to CloudGo-io</button>
                <p id="terms">By clicking “Sign in to CloudGo-io”, you agree to our Terms of Service and Privacy Statement. We’ll occasionally send you account related emails.</p>
            </form>
        </div>
        <div id="footer">
            <span>About</span><span><a href="https://danielxuuuuu.github.io">Blog</a></span><span>Contact</span><span>help</span>
        </div>
    </body>
</html>